.btn-default {
    width: 100%;
    color: #fff;
    font-size: 15px;
  }
  @font-face {
    font-family: Lexend;
    src: url(/css/Lexend-VariableFont_wght.ttf);
  }
  body{
    font-family: Lexend !important;
  }
  .w-20px{
    width: 30px;
  }

  .bottomBtns{
position: fixed;
bottom: 0;
width: 100%;
background-color: #fff;
display: none !important;
}

.colorCls{
    color: #FA3737;
}

.colorBlack{
  color:#000;
}
.mb-7{
  margin-bottom:7rem;
}
.border-btn-blank{
  border-radius: 10px !important;
  background: #fff !important;
  color: #000 !important;
  width: 90%;
  font-weight: 700;
  
}
.border-btn-fill{
  border-radius: 10px;
  background: #000000b5;
    border: #000000b5;
    width: 90%;
    font-weight: 700;
}

.border-btn-blank-red{
  border-radius: 30px !important;
  background: #ee0000 !important;
  color: #fff !important;
  width: 90%;
  font-weight: 700;
}
.border-btn-blank-white{
  border-radius: 30px !important;
  background: #fff !important;
  color: #000 !important;
  width: 90%;
  font-weight: 700;
}
.height70vh{
  height: 66vh;
}
/* Style for footer */
footer {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}

 footer div{
  background-color: #000000a1;
      margin: 0px 20px;
      border-radius: 9px;
 }
/* Style for buttons */
.footer-btn {
  display: inline-block;
  margin: 0 1px;
  color: #000;
  text-decoration: none;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  /* background-color: #F3F0E6; */
}

.footer-btn img {
 width: 100%;
}

.footer-btn:hover {
  background-color: #777;
}


   .infoIconCls{
    color: #fff;
    font-size: 50px !important;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
   }

   .selectLanguageCls{
    position: absolute;
    top: 10px;
    right: 10px ;
    border-radius: 30px;
    height: 45px;
    
   }

   .topBarCls{
    display: flex;
    justify-content: space-evenly;
   }

   .paraTopCLs{
    font-size: 16px;
    color: #fff;
    margin-top: 25px;
   }


   .vectorImgCls1{
    position: absolute;
    left: 1em;
    top: 6em;
   }
   .vectorImgCls2{
    position: absolute;
    right: 1em;
    top: 6em;
   }
   .vectorImgCls3{
    position: absolute;
    left: 1em;
    bottom: 7em;
   }
   .vectorImgCls4{
    position: absolute;
    right: 1em;
    bottom: 7em;
   }
  
   .bottomBtnsCls{
    position: absolute;
    bottom: 5em;
}
   
.card {
  background: transparent;
      border-radius: 8px;
      padding: 50px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: absolute;
    top: 10%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    }
    /* Styles for icons */
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: middle;
    }
    .cancel-icon i {
      cursor: pointer;
      font-size: 28px;
    color: #fff;
    position: absolute;
    right: 70px;
    top: 178px;
    }
    .card .mb-4 {
      margin-bottom: 1.5rem!important;
    background: #fff;
    border-radius: 8px;
    padding: 20px 30px;
    
    }

    .data {
      margin-top: 40px;
      font-weight: 700;
    }
    .centerParaCLs{
      text-align: center;
    font-size: 40px;
    padding: 8px;
    background: #00000052;
    margin: 2 auto;
    margin: 180px 69px;
    color: #fff;
    /* display: flex; */
    font-weight: 700;
    border-radius: 4px;
    }
    .backCls{
      background-repeat: round;
    height: 100vh;
    }
    .scanBtnCls{
      background-color: #F3F0E6;
      color: #000;
      width: 54%;
      padding: 15px 0px;
      font-weight: bold;
    }